.c-bg
  .c-bgChild.c-bgChild--left
    svg(width="188", height="444", viewBox="0 0 188 444", fill="none", xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0_448_1887)")
        path(class="st3" fill-rule="evenodd", clip-rule="evenodd", d="M-391.345 -208.838L-417.342 -179.785C-498.979 -88.5491 -477.539 54.4333 -372.733 117.713L-367.099 121.114C-318.6 150.397 -277.931 191.011 -248.583 239.471L-167.843 372.792C-153.886 395.838 -134.143 414.831 -110.574 427.885C-45.9166 463.697 61 432 95 406C129 380 141.79 371.996 164.5 323.5C187.21 275.004 170.5 116.5 138 93C105.5 69.5 69.5 32 37.5 22C5.50001 12 -16.779 -12.7288 -44.4329 -52.6177L-142.788 -194.488C-154.969 -212.058 -170.643 -226.924 -188.832 -238.159C-254.526 -278.735 -339.857 -266.38 -391.345 -208.838Z", fill="#FDFBF4")
          defs
            clippath(id="clip0_448_1887")
              rect(width="188", height="444", fill="white")
  .c-bgChild.c-bgChild--right
    svg(width="386", height="524", viewBox="0 0 386 524", fill="none", xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0_448_1893)")
        path(class="st4" fill-rule="evenodd", clip-rule="evenodd", d="M27.5001 102C-4.49997 134.5 3.97712e-05 206.5 3.97712e-05 308.5C3.97712e-05 410.5 146 464.457 180.5 468.478C215 472.5 250.087 461.305 275.5 455.5C300.914 449.695 351.146 451.935 405.33 468.478L554.4 513.993C580.168 521.86 607.547 522.849 633.816 516.861C705.879 500.434 757 436.349 757 362.437V268.571C757 171.326 670.615 96.7802 574.416 111.012L506.849 121.008C458.835 128.112 406 117.5 362.697 114.677C319.394 111.853 285.201 95.9634 246 88.0001C206.799 80.0368 165.5 60.4996 130 62.9998C94.5001 65.5001 59.5001 69.5 27.5001 102Z", fill="#FDFBF4")
        path(class="st5" d="M360.825 507.431C377 512.5 401.905 527.395 416 529.499C430.095 531.602 577.971 531.994 603.306 436.855L608.286 418.151C617.91 382.009 614.562 343.638 598.825 309.709L499.981 96.6146C446.351 -19.004 299.5 3.99785 271 14.9981C242.5 25.9983 215 45.4985 188.5 88.9985C162 132.499 170.318 227.499 198 269.499C225.682 311.499 262.289 315.307 274.501 330.999C286.713 346.691 314.026 393.935 310.5 423.499C306.974 453.062 344.651 502.362 360.825 507.431Z", fill="#467AFF")
          defs
            clippath(id="clip0_448_1893")
              rect(width="386", height="524", fill="white")