footer.l-footer.p-footer
  .p-footer__banner
    .p-banner
      .p-banner__inner.swiper.js-bannerSwiper
        ul.p-banner__list.swiper-wrapper
          li.p-banner__item.swiper-slide
            a(href="#")
              +picture({
                path: '/assets/images/',
                name: 'img-banner_001',
                type: 'jpg',
                alt: '',
                width: 320,
                height: 120,
                lazy: false
              })
          li.p-banner__item.swiper-slide
            a(href="#")
              +picture({
                path: '/assets/images/',
                name: 'img-banner_001',
                type: 'jpg',
                alt: '',
                width: 320,
                height: 120,
                lazy: false
              })
          li.p-banner__item.swiper-slide
            a(href="#")
              +picture({
                path: '/assets/images/',
                name: 'img-banner_001',
                type: 'jpg',
                alt: '',
                width: 320,
                height: 120,
                lazy: false
              })
  .p-footer__body
    .p-footer__inner
      .p-footer__box
        .p-footer__head
          .p-footer__logo
            img(src="../assets/images/logo-brand-keepsmiling_white.png" alt="keepsmiling")
            span キープスマイリング
          .p-footer__btn
            a.c-button.c-button--primary.c-button--mail(href="/contact.html")
              .c-button__txt お問い合わせ
            a.c-button.c-button--main.c-button--line.c-button--map(href="https://goo.gl/maps/FVSFZTxPrztDVG7r5" target="_blank")
              .c-button__txt アクセス
        .p-footer__center
          ul.p-footer__link
            li.p-footer__linkItem
              a(href="/talent.html")
                i.p-footer__linkIcon.c-picIconArrow
                | 所属タレント
            li.p-footer__linkItem
              a(href="/casting.html")
                i.p-footer__linkIcon.c-picIconArrow
                | キャスティング
            li.p-footer__linkItem.js-pageLink
              a(href="/index.html#company")
                i.p-footer__linkIcon.c-picIconArrow
                | 会社概要
            li.p-footer__linkItem
              a(href="/news.html")
                i.p-footer__linkIcon.c-picIconArrow
                | お知らせ
            li.p-footer__linkItem
              a(href="#")
                i.p-footer__linkIcon.c-picIconArrow
                | プライバシーポリシー
        .p-footer__foot
          ul.p-footer__adress
            li.p-footer__adressItem
              .p-footer__adressLabel 所在地
              .p-footer__adressName 
                | 〒145-0066
                br
                | 東京都大田区南雪谷3-1-8
            li.p-footer__adressItem
              .p-footer__adressLabel 電話番号
              .p-footer__adressName
                a(href="tel:0364259300") 03-6425-9300
          .p-footer__policy このサイト上にある画像・データ含め著作権はすべて（有）キープスマイリングが所有しております。これらの一切の複製・転載・配布を禁止致します。
      small.p-footer__copyright Copyright © KEEP Smiling, All Rights Reserved.