header.l-header.p-header.js-headerColor
  .p-header__inner
    h1.p-header__logo Keep Smiling
      a(href="/index.html")
        img(src="../assets/images/logo-brand-keepsmiling.png" alt="KeepSmiling")
    .p-header__hum.js-humBtn
      button.p-header__humBtn(type="button")
        span
        span
        span
    .p-header__nav
      ul.p-header__navList
        li.p-header__navItem
          a(href="/talent.html") 所属タレント
        li.p-header__navItem 
          a(href="/casting.html") キャスティング
        li.p-header__navItem.js-pageLink
          a(href="/index.html#company") 会社概要
        li.p-header__navItem 
          a(href="/news.html") お知らせ
        li.p-header__navItem.p-header__navItem--contact
          a.c-button.c-button--primary.c-button--mail(href="/contact.html")
            .c-button__txt お問い合わせ
  .p-gnavi.js-gnav
    .p-gnavi__inner
      .p-gnavi__logo
        a(href="/index.html")
          img(src="../assets/images/logo-brand-keepsmiling_white.png" alt="KeepSmiling")
      ul.p-gnavi__list
        li.p-gnavi__listItem 
          i.p-gnavi__listIcon.c-picIconArrow
          a(href="/talent.html") 所属タレント
        li.p-gnavi__listItem
          i.p-gnavi__listIcon.c-picIconArrow
          a(href="/casting.html") キャスティング
        li.p-gnavi__listItem.js-pageLink
          i.p-gnavi__listIcon.c-picIconArrow
          a(href="/index.html#company") 会社概要
        li.p-gnavi__listItem
          i.p-gnavi__listIcon.c-picIconArrow
          a(href="/news.html") お知らせ
        li.p-gnavi__listItem.p-gnavi__listItem--contactLink
          a.c-button.c-button--primary.c-button--mail(href="/contact.html")
            .c-button__txt 出演依頼・お問い合わせ
  .p-gnavi__bg.js-gnavBg
