//- +iconTwitter(20)
mixin iconTwitter(width)
  svg(
    width = width,
    height= 204 / 251 * width,
    viewbox="0 0 251 204"
  )
    path(d="M79.4091 203.569C173.749 203.569 225.349 125.409 225.349 57.629C225.349 55.409 225.349 53.199 225.199 50.999C235.237 43.7381 243.903 34.7478 250.789 24.449C241.428 28.5971 231.497 31.3173 221.329 32.519C232.037 26.1088 240.05 16.0268 243.879 4.14903C233.811 10.1236 222.796 14.3342 211.309 16.599C203.576 8.37588 193.348 2.93071 182.208 1.10616C171.068 -0.718388 159.637 1.17939 149.685 6.50584C139.732 11.8323 131.812 20.2904 127.151 30.5714C122.49 40.8524 121.347 52.383 123.899 63.379C103.507 62.3567 83.557 57.0573 65.3455 47.8249C47.1339 38.5925 31.0674 25.6335 18.1891 9.78903C11.63 21.0807 9.62107 34.4477 12.5714 47.1684C15.5216 59.8892 23.2093 71.0073 34.0691 78.259C25.9065 78.0171 17.9219 75.8152 10.7891 71.839C10.7891 72.049 10.7891 72.269 10.7891 72.489C10.7923 84.3312 14.8917 95.8077 22.3919 104.972C29.8921 114.136 40.3314 120.424 51.9391 122.769C44.3878 124.828 36.4649 125.129 28.7791 123.649C32.0567 133.841 38.4377 142.753 47.0298 149.14C55.6218 155.526 65.9952 159.068 76.6991 159.269C58.5364 173.543 36.0997 181.292 12.9991 181.269C8.9181 181.261 4.8411 181.014 0.789062 180.529C24.2454 195.582 51.5382 203.566 79.4091 203.529" fill="#1DA1F2")
