@use '../../global' as *;
@use 'sass:math';

.p-frontVis {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 41px;
  @include mq-up(md) {
    margin-top: 8px;
  }
  &__slide {
    position: relative;
  }
  &__bg {
    position: absolute;
    top: calc(50% + 26px);
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
    svg {
      width: 390px;
      @include mq-up(md) {
        width: 757px;
      }
    }
  }
  &__circle {
    position: absolute;
    width: 375px;
    height: 96px;
    top: -28px;
    left: calc(50% - 7px);
    transform: translate(-50%,0);
    @include mq-up(md) {
      width: 602px;
      height: 160px;
      top: -42px;
      left: calc(50% - 19px);
    }
    &:before {
      content: "";
      display: block;
      background-image: img-url("img-main-circle.svg");
      width: 96px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      animation: spin 28s linear infinite;
      @include mq-up(md) {
        width: 160px;
      }
    }
  }
  &__container {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
  }
  &__item {
    width: 280px;
    height: 210px;
    position: relative;
    pointer-events: none;
    @include mq-up(md) {
      width: 480px;
      height: 360px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 4px 8px 24px rgba($color-black,0.08);
      transition: .4s cubic-bezier(0.18, 0.71, 0.7, 0.93);
      @include mq-up(md) {
        border-radius: 32px;
      }
    }
    &[data-swiper-slide-index="0"] {
      top: -10px;
      transform: rotate(5.93deg);
      @include mq-up(md) {
        top: 7px;
      }
    }
    &[data-swiper-slide-index="1"] {
      top: 0;
      transform: rotate(-2.2deg);
    }
    &[data-swiper-slide-index="2"] {
      top: 17px;
      transform: rotate(5.93deg);
      @include mq-up(md) {
        top: 34px;
      }
    }
    &.swiper-slide-active {
      pointer-events: all;
    }
    @include hover {
      img {
        transform: scale(1.15);
      }
    }
  }
  &__next,
  &__prev {
    width: 80px;
    height: 80px;
    background-color: $pjc-main-01;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    border: 1px solid $pjc-main-01;
    box-shadow: 4px 8px 24px rgba($color-black,0.08);
    transition: all .8s cubic-bezier(.19,1,.22,1);
    &:before {
      content: "";
      display: block;
      background-image: img-url("icon-ctrl_white.svg");
      position: absolute;
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      left: calc(50% + 2px);
      transform: translate(-50%,-50%);
      transition: all .8s cubic-bezier(.19,1,.22,1);
    }
    @include hover {
      background-color: $color-white;
      &:before {
        background-image: img-url("icon-ctrl.svg");
      }
    }
  }
  &__prev {
    left: calc(25% - 26px);
    transform: translate(-50%,-50%) rotate(-180deg);
  }
  &__next {
    right: calc(25% - 26px);
    transform: translate(50%,-50%);
  }
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.p-frontTtl {
  padding: 0 24px;
  font-size: 4.8rem;
  font-weight: $font-weight-black;
  line-height: 160%;
  color: $color-black;
  margin-top: 43px;
  @include mq-up(md) {
    font-size: 8.0rem;
    padding: 0;
    width: 1104px;
    margin: 0 auto;
    margin-top: -33px;
    position: relative;
    z-index: 1;
    padding: 0 40px;
  }
}

.p-frontBanner {
  margin-top: 40px;
}