@use '../../global' as *;
@use 'sass:math';

.c-tag {
  color: $pjc-main-01;
  font-weight: $font-weight-bold;
  line-height: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 40px;
  font-size: 1.2rem;
  @include mq-up(md) {
    font-size: 1.3rem;
  }
  &--category {
    &:before {
      content: "";
      display: inline-block;
      background-image: img-url("icon-category.svg");
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 4px;
      @include mq-up(md) {
        width: 18px;
        height: 18px;
      }
    }
  }
}